<%- content_for :head do -%>
<script type="text/javascript" charset="utf-8">
  var graph = null;
  $(function() {
    
    
    function loadArticles(artistName) {
      $("#articles").load("<%= articles_path %>", "query=" + encodeURIComponent(artistName) );
    }
    
    var yd = <%= @y_data.to_json %>;
    var xd = <%= @x_data.to_json %>;
    var artists = <%= @artists.to_json %>;
    var r = Raphael("holder", 730, 400);
    graph = r.g.streamGraph(0, 0, 730, 400,xd,yd, { variant: "wiggle", labels: artists }).hover(
      function() {
        this.attr({"fill-opacity":0.6});
        $("#artist_" + artists.indexOf(this.label)).addClass("active")
        
      },
      function() {
        this.attr({"fill-opacity":1});
        $("#artist_" + artists.indexOf(this.label)).removeClass("active")
      }
    ).click(function() {
      loadArticles(this.label)
    });
    
    $(".artist-highlight").mouseover(function() {
      $(this).addClass("active")
      var artistIndex = this.id.match(/artist_(\d+)/)[1];
      graph.segments[artistIndex].attr({"fill-opacity":0.6});
    }).mouseout(function() {
      $(this).removeClass("active");
      var artistIndex = this.id.match(/artist_(\d+)/)[1];
      graph.segments[artistIndex].attr({"fill-opacity":1});      
    }).click(function() {
      loadArticles($(this).text());
    })
    
  });
</script>
<%- end -%>
<div class="width4">
  <h2>News/Blogs on hottt artists</h2>
  <p>News and blog articles on the hotttest artists, as aggregated by <a href="http://echonest.com">echonest</a>. Aggregated by week. Clicking on an artist shows you the latest articles.</p>
  
</div>
<div class="column width3 first">
  <div id="holder"></div>
</div>

<div class="column width1">
  <h3>Artists shown</h3>
  <ul>
  <%- @artists.each_with_index do |artist, i| -%>
  <li id="artist_<%= i %>" class="artist-highlight"><%= artist %></li>
  <%- end -%>
  </ul>
  <%- form_tag(root_url, :method => :get) do -%>
    <label><%= select_tag("weeks", options_for_select([["12", ""], "6", "24", "53"], params[:weeks]), :onchange => "this.form.submit()") %> Weeks</label>
  <%- end -%>
</div>
<div class="width4 first">
    The visualisation follows the Streamgraph pattern as described by <a href="http://www.leebyron.com/else/streamgraph/">Lee Byron and Martin Wattenberg</a>.
    If you are interested, this currently uses the "wiggle" correction, as we have some problems with the "weighted wiggle" algo if the dataset is as sparse as ours.
    The graph is rendered using a self written <a href="http://g.raphaeljs.com/">g.raphael</a> plugin which is <a href="http://github.com/halfbyte/echonest.streamgraphing.org">not quite finished yet</a>.
</div>
<div class="column width4 first" id="articles"></div>
<div class="column width4 first" id="comments">
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/streamgraphing/embed.js"></script><noscript><a href="http://disqus.com/forums/streamgraphing/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
