<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= stylesheet_link_tag 'baseline.compress' %>
	<%= stylesheet_link_tag 'screen' %>
	
	<%= javascript_include_tag 'raphael-min' %>
	<%= javascript_include_tag 'g.raphael-min' %>
	<%= javascript_include_tag 'g.stream.js' %>
	
  <%= yield :head %>

	<title>echonest stream graph experiment</title>
	
</head>

<body class="page-grid">
  <div id="page" class="layout-grid">
    <header id="branding" class="width4">
      <h1>echonest.streamgraphing.org</h1>
    </header>
    <div class="width4 first">
      <%= yield %>
    </div>
    
    <div id="footer" class="width4 first">
      &copy; 2009 <a href="http://mindmatters.de">mindmatters GmbH &amp; Co. KG</a>. A <a href="http://musichackday.org">music hack day</a> experiment by Jan Krutisch &amp; Wolfgang Wopperer.
    </div>
  </div>
</body>
</html>
